body{
font-family: sans-serif;
max-width:700px;
margin:auto;
padding:20px;
}

input{
width:100%;
padding:10px;
font-size:16px;
}

textarea{
width:100%;
height:120px;
}

.card{
border:1px solid #ddd;
padding:10px;
margin:8px 0;
cursor:pointer;
border-radius:8px;
}

.card:hover{
background:#f5f5f5;
}
